@font-face {
	font-family: heebo-bold;
	src: url('../fuentes/Heebo-Bold.ttf');
}

@font-face {
	font-family: heebo-light;
	src: url('../fuentes/Heebo-Light.ttf');
}

@font-face {
	font-family: oleo;
	src: url('../fuentes/OleoScript-Bold.ttf');
}

/* @group general */

.oculto {
	display: none;
}

body {
	padding: 0;
	background-color: #3aa6b9;
	margin: 0;
	color: #414241;
	font: 13px heebo-light, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#header-paquete {
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: -1;
}

header {
	display: flex;
	justify-content: center;
	margin: 0;
	padding-top: 30px;
}

body.perfil #header-paquete {
	position: static;
}

#foto-de-perfil img {
	border-radius: 10px;
	box-shadow: 0 0 4px #353535;
}

#titulos h1{
	font: 41px/39px oleo;
	color: white;
	margin: 0;
	padding-left: 14px;
}

#titulos h2 {
	color: #C8E8EE;
	font-size: 16px;
	margin: 12px 0 0;
	padding-left: 14px;
	line-height: 19px;
}

/* @end */

/* @group navegacion */

nav{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vmax;
	z-index: 0;
	background-color: #3aa7ba;
	color: white;
	width: 230px;
	box-shadow: 0 0 8px #000000;
	transition-property: left;
	transition-duration: 300ms;
}

nav.oculto {
	left: -230px;
	box-shadow: 0 0 0;
	display: block;
}


nav ul {
	padding: 0;
	margin: 70px 0 0 22px;
}

nav li{
	list-style: none;
	padding: 0 0 0 10px;
	margin-bottom: 25px;
	border-left: 1px solid white;
}

nav li.actual {
	padding-left: 22px;
	background: url(../img/menuicono.png) left center no-repeat;
	border-left-style: none;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

nav div#bot-desplegar {
	position: absolute;
	width: 38px;
	height: 71px;
	text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;
	background-image: url(../img/bot-menu.png);
	right: -38px;
	margin-top: -35px;
	top: 50%;
}

/* @end */

/* @group inicio */

#contenedor-general {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

body.index form{
	display: block;
	width: 330px;
	margin: 0;
	padding: 0;
	background-color: #f8f5f8;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
}

body.index h1 {
	display: block;
	width: 330px;
	background-image: url(../img/login-cabecera.jpg);
	height: 120px;
	margin: 0 0 20px;
	padding: 0;
	text-indent: 100%;
    white-space: nowrap;
    overflow:hidden;
}

body.index label {
	display: none;
}

#recordarContDiv {
	text-align: left;
	padding-left: 20px;
}

body.index input#recordarContrasena,
body.index label#labelRecordar {
	display: inline;
}

body.index input#usuario,
body.index input#contrasena {
	width: 260px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #f1f2f1;
	border-color: #969796;
	border-style: solid;
	border-radius: 8px;
	padding: 0 15px;
}

body.index #botonIngresar{
	background-color: #20a8b9;
	border: 0;
	width: 290px;
	height: 41px;
	color: #ffffff;
	font: 20px heebo-light;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	cursor: pointer;
}

/* @end */

/* @group portada */

section#estado-resumen {
	padding: 28px 30px 0;
}

section#estado-resumen .cilindro {
	background-color: white;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

section#estado-resumen h3 {
	margin: 0;
	font: 16px heebo-bold, "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 10px 15px;
	border-radius: 50px;
	background-color: #92d4dd;
	color: #20a8b9;
}

section#estado-resumen .cilindro-valor {
	font: 24px Heebo-Bold, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-right: 15px;
	display: flex;
	align-items: center;
	
}

section#estado-resumen #capital-libre{
	color: #5d8827;
}

section#estado-resumen #por-cobrar {
	color: #a9623a;
}

section#estado-resumen #cupo-prestado {
	color: #969796;
}

section#tabla-estados {
	background-color: #39a5b9;
	box-shadow: 0 0 10px #000000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 30px 0;
	margin-top: 330px;
}

section#tabla-estados div.fecha {
	background-color: white;
	border-bottom: 9px solid #DFDFDF;
}

section#tabla-estados div.fecha-ingreso {
	font: 13px Heebo-Bold, "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #3BA8BA;
	padding-left: 10px;
	border-bottom: 1px solid #D6D6D6;
	height: 20px;
	display: flex;
	align-items: center;
}

section#tabla-estados div.ingreso {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #DFDFDF;
}

section#tabla-estados div.informacion {
	width: calc(50vw - 20px);
	padding-left: 20px;
}

section#tabla-estados div.valor {
	width: calc(50vw - 20px);
	padding-right: 20px;
	text-align: right;
}

section#tabla-estados div.motivo {
	font-family: Heebo-Bold, "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #979797;
	padding: 8px 0 6px;
}

section#tabla-estados div.nota {
	font-size: 12px;
	color: #979797;
	padding: 0 0 8px;
}

section#tabla-estados div.valor {
	font-family: Heebo-Bold, "Lucida Grande", Lucida, Verdana, sans-serif;
	padding-top: 8px;
}

section#tabla-estados div.valor.positivo {
	color: #5F8A29;
}

section#tabla-estados div.valor.negativo {
	color: #A5633A;
}

/* @end */

/* @group solicitar prestamo */

section#solicitar-prestamo {
	margin-top: 130px;
	box-shadow: 0 0 13px #000000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: white;
	padding: 30px 30px 20px;
}

section#solicitar-prestamo div#bot-solicitar {
	background-color: #20a8b9;
	color: white;
	font: 24px Heebo-Bold, "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	cursor: pointer;
}

section#solicitar-prestamo div#formulario {
	padding-top: 20px;
}

section#solicitar-prestamo div#formulario span {
	font-size: 14px;
	color: #2C484C;
	padding-bottom: 20px;
	display: block;
	text-align: center;
}

section#solicitar-prestamo form#solicitud {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

section#solicitar-prestamo form#solicitud label {
	float: right;
	clear: both;
	color: #3BA8BA;
	font-size: 16px;
	padding-right: 5px;
	height: 40px;
	display: flex;
	align-items: center;
	padding-top: 4px;
}

section#solicitar-prestamo form#solicitud input{
	float: left;
	background-color: #F2F2F2;
	border: 1px solid #979797;
	width: 180px;
	height: 40px;
	border-radius: 7px;
	text-align: center;
	font: 18px Heebo-bold;
	color: #3BA8BA;
	padding: 0;
}

section#solicitar-prestamo form#solicitud select {
	float: left;
	clear: left;
	margin-top: 20px;
}

section#solicitar-prestamo div#aviso-monto-exedido div.botones {
	display: flex;
	justify-content: space-around;
}

section#solicitar-prestamo div#aviso-monto-exedido div.boton-soporte {
	width: 110px;
	height: 110px;
	background-color: #3BA8BA;
	display: flex;
	align-items: center;
	text-align: center;
	border-radius: 100px;
	color: white;
	font: 16px Heebo-Bold;
}

section#solicitar-prestamo div#aviso-monto-exedido span {
	color: #3BA8BA;
	font-size: 14px;
	text-align: center;
}

section#tablas {
	background-color: white;
	margin-bottom: 30px;
}

section#tablas div.tabla-prestamo {
	display: flex;
	justify-content: center;
}

section#tablas div.contenedor-tabla {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: calc(100vw - 40px);
	margin-bottom: 30px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.62);
	border-radius: 7px;
}

section#tablas table{
	background-color: #F3F3F3;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-collapse: collapse;
	width: 100%;
}

section#tablas table caption {
	background-color: #3BA8BA;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: white;
	text-align: left;
	padding: 10px 30px;
}

section#tablas table caption span,
section#tablas div.elTitulo span
{
	font-family: Heebo-Bold, "Lucida Grande", Lucida, Verdana, sans-serif;
}

section#tablas table thead {
	background-color: #82CCD8;
}

section#tablas table thead th {
	padding: 5px 0;
	font-size: 11px;
}

section#tablas table tr.fecha td {
	padding: 5px 0 0 23px;
	color: #75B3BD;
	font-size: 8px;
	text-align: left;
}

section#tablas table tr {
	border-bottom: 1px solid #E0E2E2;
}

section#tablas table tr.fecha {
	border-bottom-style: none;
}

section#tablas table tr:last-child{
	border-bottom-style: none;
}

section#tablas table td {
	text-align: center;
	font-size: 12px;
	color: #2C484C;
	padding: 0 4px 5px;
}

section#tablas table tr.desembolso td:nth-child(2) {
	color: #B5C2C4;
}

section#tablas div.tabla-prestamo.pagado table.oculto,
section#tablas div.titulo-tabla.oculto{
	display: none;
}

section#tablas div.titulo-tabla {
	width: calc(100vw - 40px);
	border-radius: 7px;
	background-color: #F3F3F3;
}

section#tablas div.elTitulo {
	background-color: #3BA8BA;
	color: white;
	padding: 10px 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

section#tablas div.grupo-info-pagado {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

section#tablas div.cuadro-info-prestamo {
	padding: 10px;
	color: #585555;
}

section#tablas div.cuadro-info-prestamo span.titulo {
	color: #3BA8BA;
	display: block;
	font-family: Heebo-Bold;
}

section#tablas div.boton-mostrar div{
	text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;
	background: url(../img/flecha-boton.png) center center no-repeat;
	width: 70px;
	height: 30px;
}

/* @end */

/* @group registrar pago */

section#registrar-pago-form {
	margin-top: 130px;
	box-shadow: 0 0 13px #000000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: white;
	padding: 30px 20px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#registrar-pago-form div#foto-factura {
	height: 180px;
	border-radius: 10px;
	border: 9px solid #3BA8BA;
	background-color: #D8D8D8;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #ffffff;
	font: 15px "Courier New", Courier, mono;
	margin-bottom: 10px;
	padding: 0 20px;
}

section#registrar-pago-form form {
	display: flex;
	justify-content: center;
}

section#registrar-pago-form #monto {
	width: 200px;
	height: 40px;
	float: left;
	border-radius: 8px;
	border: 1px solid #979797;
	background-color: #F2F2F2;
	padding: 0 10px;
	text-align: center;
	font: 18px Heebo-bold;
	color: #3BA8BA;
	margin-bottom: 10px;
}

section#registrar-pago-form #proposito {
	float: left;
	clear: left;
}

section#registrar-pago-form label{
	float: right;
	clear: right;
	color: #3BA8BA;
	font-size: 16px;
	height: 40px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

section#registrar-pago-form div#boton-anadir {
	width: 160px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../img/icono+.jpg) 10px center no-repeat #3BA8BA;
	border-radius: 50px;
	font-size: 14px;
	color: white;
	padding-left: 19px;
}

section#lista-registros-pago {
	background-color: white;
	margin-bottom: 30px;
	display: flex;
	justify-content:center;
}

section#lista-registros-pago div.tabla-registros {
	width: calc(100% - 60px);
	background-color: #F3F3F3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
	border-radius: 7px;
	margin-bottom: 20px;
}

section#lista-registros-pago div.registro-entrada {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	border-bottom: 1px solid #E0E2E2;
}

section#lista-registros-pago div.factura {
	border: 6px solid #3BA8BA;
	border-radius: 10px;
	margin-right: 10px;
}

section#lista-registros-pago div.registro-entrada.en-analisis {
	position: relative;
}

section#lista-registros-pago span.en-analisis {
	position: absolute;
	background-color: #eb4b47;
	color: white;
	width: 152px;
	height: 38px;
	z-index: 0;
	text-align: center;
	padding-top: 2px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

section#lista-registros-pago div.registro-entrada.en-analisis div.factura{
	margin-top: 21px;
	z-index: 1;
}

section#lista-registros-pago div.info span {
	display: block;
	color: #517176;
	font-size: 10px;
	line-height: 13px;
}

section#lista-registros-pago div.info span.fecha {
	color: #2C484C;
	font-size: 12px;
}

section#lista-registros-pago div.info span.valor {
	color: #3BA8BA;
	font: 23px Heebo-bold;
}

section#lista-registros-pago div.info span.motivo ul {
	margin: 0 0 3px;
	padding: 0 0 0 17px;
	color: #2C484C;
	font: 13px/14px Heebo-bold;
}

section#lista-registros-pago div.info span.motivo li {
	margin-bottom: 8px;
}

section#lista-registros-pago div.info span.notas {
	padding-left: 17px;
}

/* @end */

/* @group perfil */

section#info-personal {
	padding: 0 20px;
	color: white;
	margin-top: 50px;
}

section#info-personal div.info-titulo {
	font-size: 18px;
	line-height: 10px;
}

section#info-personal div.info-contenido {
	font: 20px Heebo-Bold;
	margin-bottom: 17px;
}

section#contactos {
	padding: 0 20px;
	color: white;
	margin-bottom: 20px;
}

section#contactos h2 {
	font: 38px/30px oleo;
	margin-bottom: 20px;
}

section#contactos span.nombre-contacto {
	color: #A7EDF9;
}

section#contactos div.avatar img {
	border-radius: 7px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
}

/* @end */
