include segmentos/header.pug
if err
    section#error
        h2 Ha habido un error
            p Por favor informe al administrador (o sea Alejo Corredor)
            h3 El error:
            p #{err}
else
    form#formulario
        p
            label(for='nombres') Nombres
            input(class='enviar' type='text' name='nombres')
        p
            label(for='apellidos') Apellidos
            input(class='enviar' type='text' name='apellidos')
        p
            label(for='num_identificacion') Número de cédula
            input(class='enviar' type='text' name='num_identificacion')
        p
            label(for='contrasenia') Contraseña
            input(class='enviar' type='password' name='contrasenia')
        p   
            input(type='submit' value='Inscribir')

    #pantalla

    script
        include js/inscribir.js