include segmentos/header.pug
if err
    section#error
        h2 Ha habido un error
            p Por favor informe al administrador (o sea Alejo Corredor)
            h3 El error:
            p #{err}
else
    p Para empezar, por favor tome una foto al comprobante de la transacción y súbala al sistema.
    form#formulario(enctype="multipart/form-data" method="put" action="/api/recibir_imagenes")
        p
            label(for='recibo')
            input(type='file' name='recibo')
        p
            input(type='submit' value='Cargar')

    script
        include js/registrar.js