link(rel="icon", href="data:;base64,=")
head
    h1 #{titulo}
    menu
        ul
            li
                a(href='/portada') Portada
            li
                a(href='/lista') Lista
            li
                a(href='/registrar') Registrar movimientos
            li
                a(href='/prestamos') Préstamos
            li
                a(href='/inscribir') Inscribir
            if usuario.rol === 5
                li
                    a(href='/administracion') Administración