head
    h1 Registrar un movimiento
    menu
        ul
            li
                a(href='/portada') Portada
            li
                a(href='/lista') Lista
            li
                a(href='registrar-movimiento') Registrar movimientos
            li
                a(href='/inscribir') Inscribir